<div class="jumbotron">

  <header>
    <h1>Go look at all these amazing robots!!!!!!</h1>
  </header>
  <div class="col-md-4">
    <button type="button" class="btn btn-warning btn-block">
      <a href="/robots">All The Robots</a>
    </button>
  </div>
  <div class"col-md-4">
    <button type="button" class="btn btn-danger btn-block">
      <a href="/robots/new">Want to add more robots?</a>
    </button>
  </div>
</div>
