<h1>Go look at all these amazing robots!!!!!!</h1>

<ul>
    <li>
        <a href="/robots">All The Robots</a>
    </li>
    <li>
        <a href="/robots/new">Want to add more robots?</a>
    </li>
</ul>
