<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/custom.css"/>
        <title>SICK ROBOTS</title>
    </head>
    <body>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
