<form action="/robots" method="post">
    <p>Enter a new robot:</p>
    <input type="text" name="robot[name]" title="Robot's name" style="color:#888;" value="Robot's name" onfocus="inputFocus(this)" onblur="inputBlur(this)"/><br/>
    <input type="text" name="robot[city]" title="Home city" style="color:#888;" value="Home City" onfocus="inputFocus(this)" onblur="inputBlur(this)"/><br/>
    <input type="text" name="robot[state]" title="Home State" style="color:#888;" value="Home State" onfocus="inputFocus(this)" onblur="inputBlur(this)"/><br/>
    <input type="text" name="robot[birthdate]" title="Birthdate" style="color:#888;" value="Birthdate" onfocus="inputFocus(this)" onblur="inputBlur(this)"/><br/>
    <input type="text" name="robot[date_hired]" title="When were they hired?" style="color:#888;" value="When were they hired?" onfocus="inputFocus(this)" onblur="inputBlur(this)"/><br/>
    <input type="text" name="robot[department]" title="Where do they work?" style="color:#888;" value="Where do they work?" onfocus="inputFocus(this)" onblur="inputBlur(this)"/><br/>
    <input value="Submit" type='submit'/>
</form>
<a href="/">Home</a>
